html,
body {
  min-height: 100vh;
  height: 100%;
  font-family: 'Poppins';
}

html
{
  font-family: 'Noto Sans JP', sans-serif;
}
.container
{
  left: 10%;
  top: 20%;
  position: absolute;
}
.toggle-button
{
  background-color: rgb(185, 67, 67);
  border-radius: 100px;
  width: 85px;
  height: 45px;
  padding: 5px;
}
.toggle-button > .inner-circle
{
  background-color: white;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  margin-top: -3%;
}
.toggle-button.active
{
  background-color: rgb(88, 214, 115);
}

.toggle-button.active > .inner-circle
{
  margin-left: 30px;
}

.ContentItems
{
  margin-top: 8rem;
}
