html,
body {
  min-height: 100vh;
  height: 100%;
  font-family: "Poppins";
}


input[type="checkbox"]
{

  position: relative;
  width: 80px;
  height: 40px;
  appearance: none;
  outline: none;
  border-radius: 2rem;
  box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
  transition: 0.5s;
}


input[type="checkbox"]::before
{
content: '';
position: absolute;
width: 40px;
height: 40px;
border-radius: 3rem;
background: white;
transform:scale(0.5);
box-shadow: 0 2px 5px rgba(0,0,0,0.2);
top: -0.4rem;
left: 0rem;
}


input:checked[type="checkbox"]::before
{
left: 2rem;
background: black;
}


.MainITems
{
  margin-top: 10%;
}
